* @openstrux/core
/packages/parser/      @openstrux/core
/packages/validator/   @openstrux/core
/packages/lock/        @openstrux/core
/packages/manifest/    @openstrux/core
/tests/                @openstrux/core
